.card{
    background-color: black;
    color: white;
    display: flex;
    gap:10px;
    margin: 1%;
    width: 700px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}